{% load static %}
{% include 'custom_admin_panel/inc/header.html' %}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Order Items in {{ order.id }} </h4><h6><br> Date: {{ order.date_added|date:"D, d F" }}<br>
                            Payment Method: {{ order.payment_method }} </h6>
                        <hr class="white-line my-4">
                        
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        
                                        <th>Product Name</th>
                                        <th>Product Price</th>                                      
                                        <th>Applied Offer</th>
                                        <th>Quantity</th>
                                        <th>Total Amount</th>
                                        <th>Order Status</th>                                      
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for order_item in order_items %}
                                        <tr>
                                           
                                            <td>{{ order_item.product_name_at_order }}</td>
                                            <td>{{ order_item.product_price_at_order }}</td>                                          
                                            <td>{% if order_item.product.offer and order_item.product.category.offer %}
                                                {% with product_offer=order_item.product.offer.discount_percentage %}
                                                    {% with category_offer=order_item.product.category.offer.discount_percentage %}
                                                        {% if product_offer > category_offer %}
                                                            {{ product_offer|floatformat:.2 }}% off
                                                        {% else %}
                                                            {{ category_offer|floatformat:.2 }}% off
                                                        {% endif %}
                                                    {% endwith %}
                                                {% endwith %}
                                            {% elif order_item.product.offer %}
                                                {{ order_item.product.offer.discount_percentage|floatformat:.2 }}% off
                                            {% elif order_item.product.category.offer %}
                                                {{ order_item.product.category.offer.discount_percentage|floatformat:.2 }}% off
                                            {% else %}
                                                None
                                            {% endif %}
                                            </td>
                                            <td>{{ order_item.quantity }}</td>
                                            <td>{{ order_item.get_total }}</td>                                            
                                            <td>{{ order_item.get_delivery_status_display }}</td>                                           
                                            
                                            {% if order_item.delivery_status != 'CN' %}
                                                <td>
                                                    <a href="{% url 'custom_admin_panel:order_edit' order_item.id %}" class="btn btn-primary">Update Status</a>
                                                </td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <a href="{% url 'custom_admin_panel:order' %}" class="btn btn-secondary mt-3">Back to Order List</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- plugins:js -->
<script src="{% static 'adminside/assets/vendors/js/vendor.bundle.base.js' %}"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="{% static 'adminside/assets/vendors/chart.js/Chart.min.js' %}"></script>
<script src="{% static 'adminside/assets/vendors/progressbar.js/progressbar.min.js' %}"></script>
<script src="{% static 'adminside/assets/vendors/jvectormap/jquery-jvectormap.min.js' %}"></script>
<script src="{% static 'adminside/assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
<script src="{% static 'adminside/assets/vendors/owl-carousel-2/owl.carousel.min.js' %}"></script>
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="{% static 'adminside/assets/js/off-canvas.js' %}"></script>
<script src="{% static 'adminside/assets/js/hoverable-collapse.js' %}"></script>
<script src="{% static 'adminside/assets/js/misc.js' %}"></script>
<script src="{% static 'adminside/assets/js/settings.js' %}"></script>
<script src="{% static 'adminside/assets/js/todolist.js' %}"></script>
<!-- endinject -->
<!-- Custom js for this page -->
<script src="{% static 'adminside/assets/js/dashboard.js' %}"></script>
<!-- End custom js for this page -->

</body>
</html>
