{% load static %}
{% include 'custom_admin_panel/inc/header.html' %}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h4 class="card-title">All Products</h4>
                            <a href="{% url 'custom_admin_panel:add_product' %}"
                                class="btn btn-outline-success">
                                &nbsp;<b>+</b>&nbsp;Add Product
                            </a>
                        </div>

                        <hr class="white-line my-4">
                        <div class="mb-5">
                            <ul class="navbar-nav w-100">
                                <li class="nav-item w-100">
                                    <form action="{% url 'custom_admin_panel:product_management' %}" method="get" class="nav-link mt-2 mt-md-0 col-12 d-lg-flex search">
                                        {% csrf_token %}
                                        <input type="text" name="key" class="form-control mb-1 text-light" placeholder="Search Products">
                                        <button type="submit" class="btn-inverse-info mb-1">Search</button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Product_Name</th>
                                        <th>Image</th>
                                        <th>Category</th>
                                        <th>Price</th>
                                        <th>Stock</th>
                                        <th>Is_Available</th>
                                        <th>Status</th>
                                        <th>Offer added</th>
                                        <th>Discount_price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for product in products %}
                                    <tr>
                                        <td>{{ product.product_name }}</td>
                                        <td>
                                            <img class="rounded product-img-preview"
                                                src="{% if product.productimage_set.all %}{{ product.productimage_set.first.image.url }}{% endif %}"
                                                alt="{{ product.name }}" />
                                        </td>
                                        
                                        <td>{{ product.category }}</td>
                                        <td>{{ product.price }}</td>
                                        <td>{{ product.stock }}</td>
                                        <td>{{ product.is_available }}</td>
                                        <td>
                                            {% if product.stock <= 0 %} 
                                            <span class="text-danger text-center">Out Of Stock</span>
                                            {% else %}                                                
                                                <span class="text-success text-center">In Stock</span>
                                            {% endif %}
                                        </td>
                                        <td>{% if product.offer %}
                                            <a href="{% url 'custom_admin_panel:offer' %}">product:{{ product.offer.offer_name }}</a>
                                            {% elif product.category.offer %}
                                            <a href="{% url 'custom_admin_panel:offer' %}">category:{{ product.category.offer.category_offer_name }}</a>
                                            {% else %}
                                            Null
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if product.discounted_price is not None %}
                                                {{ product.discounted_price|floatformat:2 }}
                                            {% else %}
                                                N/A
                                            {% endif %}
                                           
                                        </td>
                                        <td>
                                            <a href="{% url 'custom_admin_panel:edit_product' product.id %}" class="btn btn-inverse-info">Edit Product</a>
                                        </td>
                                        
                                        
                                        <td>
                                            {% if product.is_available %}
                                                <a href="{% url 'custom_admin_panel:block_product' product.id %}" class="badge badge-danger">BLOCK</a>
                                            {% else %}
                                                <a href="{% url 'custom_admin_panel:unblock_product' product.id %}" class="badge badge-success">UNBLOCK</a>
                                            {% endif %}
                                        </td>

                                                                             

                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- plugins:js -->
<script src="{% static 'adminside/assets/vendors/js/vendor.bundle.base.js' %}"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="{% static 'adminside/assets/vendors/chart.js/Chart.min.js' %}"></script>
<script src="{% static 'adminside/assets/vendors/progressbar.js/progressbar.min.js' %}"></script>
<script src="{% static 'adminside/assets/vendors/jvectormap/jquery-jvectormap.min.js' %}"></script>
<script src="{% static 'adminside/assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
<script src="{% static 'adminside/assets/vendors/owl-carousel-2/owl.carousel.min.js' %}"></script>
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="{% static 'adminside/assets/js/off-canvas.js' %}"></script>
<script src="{% static 'adminside/assets/js/hoverable-collapse.js' %}"></script>
<script src="{% static 'adminside/assets/js/misc.js' %}"></script>
<script src="{% static 'adminside/assets/js/settings.js' %}"></script>
<script src="{% static 'adminside/assets/js/todolist.js' %}"></script>
<!-- endinject -->
<!-- Custom js for this page -->
<script src="{% static 'adminside/assets/js/dashboard.js' %}"></script>
<!-- End custom js for this page -->

</body>
</html>