{% load static %}
{% include 'custom_admin_panel/inc/header.html' %}


<div class="main-panel">
    <div class="content-wrapper">
        <div class="row"></div>
        <div class="row"></div>

    <h2 class="text-center text-light">Sales Analysis Report</h2>

    <div class="row mt-4">
        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Sales Portfolio</h4>
                    <canvas id="areaChart" style="height: 250px;"></canvas>
                    <div class="col-10 mt-3">
                        <button onclick="SalesPortfolio('week')" class="btn btn-sm btn-outline-info">This week</button>
                        <button onclick="SalesPortfolio('month')" class="btn btn-sm btn-outline-info">This month</button>
                        <button onclick="SalesPortfolio('year')" class="btn btn-sm btn-outline-info">This year</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card">
              
                <div class="card-body">
                    <h4 class="card-title">Most sold products</h4>
                    <canvas id="barChart" style="height:230px"></canvas>
                    <div style="display: none;">
                        {% for product in most_sold_products %}
                            <input class="product" value="{{ product.product__product_name }}">
                            <input class="count" value="{{ product.total_sold }}">
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    </div>  
    <div class="card">
        <div class="card-body pb-3 ms-2">
            <h5 class="card-title">Sales Report </h5>
            <form action="{% url 'custom_admin_panel:sales_details' %}" method="post">
                {% csrf_token %}
                <div class="form-outline mb-2">
                    <label class="form-label" for="form3Example3">From</label>
                    &nbsp;:&nbsp;
                    <input type="date" id="startDate" name="start_date" required/>
                </div>
    
                <div class="form-outline mb-2">
                    <label class="form-label" for="form3Example3">To</label>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;
                    <input type="date" id="endDate" name="end_date" required/>
                </div>
                <button type="submit" class="btn btn-primary btn btn-inverse-info">Apply for Details</button>
            </form>
        </div>
    </div>
</div>    
</div>

    <!-- Additional content as needed -->






<!-- plugins:js -->
<script src="{% static 'adminside/assets/vendors/js/vendor.bundle.base.js' %}"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="{% static 'adminside/assets/vendors/chart.js/Chart.min.js' %}"></script>
<script src="{% static 'adminside/assets/vendors/progressbar.js/progressbar.min.js' %}"></script>
<script src="{% static 'adminside/assets/vendors/jvectormap/jquery-jvectormap.min.js' %}"></script>
<script src="{% static 'adminside/assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
<script src="{% static 'adminside/assets/vendors/owl-carousel-2/owl.carousel.min.js' %}"></script>
<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="{% static 'adminside/assets/js/off-canvas.js' %}"></script>
<script src="{% static 'adminside/assets/js/hoverable-collapse.js' %}"></script>
<script src="{% static 'adminside/assets/js/misc.js' %}"></script>
<script src="{% static 'adminside/assets/js/settings.js' %}"></script>
<script src="{% static 'adminside/assets/js/todolist.js' %}"></script>
<!-- endinject -->
<!-- Custom js for this page -->
<script src="{% static 'adminside/assets/js/dashboard.js' %}"></script>
<!-- End custom js for this page -->
<script>

    var ctx = document.getElementById('areaChart').getContext('2d');
    var areaChart;
    
    function SalesPortfolio(period) {
        console.log('Initialized')
        console.log(period)
        fetch(`/adminpanel/get_sales_data/${period}/`)
        .then(response => {
           
            return response.json();
        })
            .then(data => {
                // Update the chart
                updateChart(data.labels, data.data);
            })
            .catch(error => console.error('Error fetching sales data:', error));
    }
    
    function updateChart(labels, data) {
        if (typeof areaChart === 'undefined') {
            // Create a new chart if it doesn't exist
            areaChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [{
                        label: 'Sales',
                        data: data,
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1
                        
                    
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        } else {
            // If the chart exists, update the data
            areaChart.data.labels = labels;
            areaChart.data.datasets[0].data = data;
            areaChart.update();
        }
    }
    
   
    SalesPortfolio('week');
   
    
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var products = document.querySelectorAll('.product');
        var counts = document.querySelectorAll('.count');

        var productsArray = Array.from(products).map(function (product) {
            return product.value;
        });

        var countsArray = Array.from(counts).map(function (count) {
            return parseInt(count.value);
        });

        var ctx = document.getElementById('barChart').getContext('2d');
        var barChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: productsArray,
                datasets: [{
                    label: 'Most Sold Products',
                    data: countsArray,
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    });
</script>
</body>
</html>





sales_details:
# first

# @login_required(login_url='custom_admin_panel:adminlogin')
# @require_POST
# def sales_details(request):
#     start_date_str = request.POST.get('start_date')    
#     end_date_str = request.POST.get('end_date')    

#     if not start_date_str or not end_date_str:
#         return HttpResponseBadRequest("Invalid date parameters")
    
#     start_date = datetime.strptime(start_date_str, '%Y-%m-%d') if start_date_str else None
#     end_date = datetime.strptime(end_date_str, '%Y-%m-%d') if end_date_str else None
    
   

    
#     order_items = CartItem.objects.filter(
#     Q(order__date_added__gte=start_date, order__date_added__lte=end_date) &
#     Q(order__complete=True) &
#     Q(Q(delivery_status='D') |
#     Q(
#         Q(order__payment_method__in=['WAL', 'RAZ']) &
#         ~Q(delivery_status__in=['RT', 'CN'])
#     )))
#     product_quantities = order_items.values('product_price_at_order').annotate(total_quantity=Sum('quantity'))

#     context = {
#         'order_items': order_items,
#         'product_quantities': product_quantities,
#         'start_date': start_date_str,
#         'end_date': end_date_str,
#     }

#     return render(request, 'custom_admin_panel/salespdf.html', context)



#second
# @login_required(login_url='custom_admin_panel:adminlogin')
# @require_POST
# def sales_details(request):
#     start_date_str = request.POST.get('start_date')    
#     end_date_str = request.POST.get('end_date')    

#     if not start_date_str or not end_date_str:
#         return HttpResponseBadRequest("Invalid date parameters")

  
#     start_date = timezone.make_aware(datetime.strptime(start_date_str, '%Y-%m-%d'))
#     end_date = timezone.make_aware(datetime.strptime(end_date_str, '%Y-%m-%d'))

  
#     single_day = start_date.date() == end_date.date()

#     order_items = CartItem.objects.filter(
#         Q(order__date_added__date=start_date.date()) &
#         Q(order__complete=True) &
#         Q(Q(delivery_status='D') |
#           Q(
#               Q(order__payment_method__in=['WAL', 'RAZ']) &
#               ~Q(delivery_status__in=['RT', 'CN'])
#           )))

   
#     if single_day:
#         order_items = order_items.filter(order__date_added__date=start_date.date())

#     product_quantities = order_items.values('product_price_at_order').annotate(total_quantity=Sum('quantity'))

#     context = {
#         'order_items': order_items,
#         'product_quantities': product_quantities,
#         'start_date': start_date_str,
#         'end_date': end_date_str,
#     }

#     return render(request, 'custom_admin_panel/salespdf.html', context)

