cryptography==41.0.7
cssselect2==0.7.0
distlib==0.3.7
Django==4.1
django-icons==23.3
django-multiupload==0.6.1
django-otp==1.2.4


Pillow==10.1.0

psycopg2==2.9.9
psycopg2-binary==2.9.9

pyhanko-certvalidator==0.26.2
pypdf==3.17.1
python-bidi==0.4.2
python-dateutil==2.8.2
qrcode==7.4.2
razorpay==1.4.1
reportlab==4.0.7
requests==2.31.0
sqlparse==0.4.4
svglib==1.5.1
xhtml2pdf==0.2.13
