{% load static %}

        <!-- header -->
        {% include 'user_authentication/inc/navbar.html' %}
        <!-- end-header -->
		


        <main class="main">
			
        	<div class="page-header text-center" style="background-image: url('user_auth/assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">Checkout<span>Shop</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->
			
            <div class="page-content">
            	<div class="checkout">
	                <div class="container">
						<div class="cart-bottom">
							<div class="cart-discount">
								<form method="post" action="{% url 'carts:apply_coupon' cart.id %}">
									{% csrf_token %}
									
									<div class="input-group">
										<input type="text" class="form-control" required placeholder="coupon code" name="coupon">
										<div class="input-group-append">
											<button class="btn btn-outline-primary-2" type="submit"><i class="icon-long-arrow-right"></i></button>
										</div><!-- .End .input-group-append -->
									</div><!-- End .input-group -->
									{% if cart.coupon %}
									<a href="{% url 'carts:remove_coupon' cart.id %}" class="btn btn-success">{{ cart.coupon.coupon_code }}</a>
									{% endif %}
								</form>
							</div><!-- End .cart-discount -->
					
							<!-- <a href="#" class="btn btn-outline-dark-2"><span>UPDATE CART</span><i class="icon-refresh"></i></a> -->
						</div><!-- End .cart-bottom -->
            			
						
            			<form action="{% url 'carts:place_order' %}" method="post">
                            {% csrf_token %}
		                	<div class="row">
								<div class="col-8" >
									<label>Shipping Address:</label>
									{% for address in user_addresses %}
										<div class=" bg-light py-4 d-flex mb-1"   style="border-radius: 7px; border: 1px dashed #e4e4e4;">
											<input class="form-check-input col-1" type="radio" value="{{ address.id }}" id="shipping_address_{{ address.id }}" name="shipping_address" checked>
											<!-- <input type="radio" id="shipping_address_{{ address.id }}" name="shipping_address" class=" mt-5  custom-control-input" value="{{ address.id }}" {% if address == user_address %}checked{% endif %}> -->
											<label class="col-9   mx-auto mx-5" for="shipping_address_{{ address.id }}">
												{{ address.full_name }} - {{ address.address_lines }}, {{ address.city }}, {{ address.state }}, {{ address.pin_code }} - {{ address.country }} - {{ address.mobile }}
											</label>
										</div>
									{% endfor %}
											</div>
		                		<div class="col-lg-12 row" style="display: flex; flex-direction: row-reverse;">
									<aside class="col-4 " >
										<div class="summary">
											<h3 class="summary-title">Your Order</h3><!-- End .summary-title -->
	
											<table id="productDetailsTable" class="table table-summary">
												<thead>
													<tr>
														<th>Product</th>
														<th>Total</th>
													</tr>
												</thead>
	
												<tbody>
													{% for cart_item in cart_items %}
														<tr>
															<td><a href="#">{{ cart_item.product.product_name }}</a></td>
															<td>
																
																{{ '₹ ' }}{{ cart_item.get_total|floatformat:2 }}
														
														</td>
														</tr>
													{% endfor %}
	
													<!-- <tr class="summary-subtotal">
														<td>Subtotal:</td>
														<td>{{ '₹ ' }}{{ cart.get_cart_total }}</td>
													</tr>End .summary-subtotal -->
	
													<tr>
														<td>Shipping:</td>
														<td>Free shipping</td>
													</tr>
	
													<tr class="summary-total">
														<td>Total:</td>
														<td>{{ '₹ ' }}{{ cart.get_cart_total }}</td>
													</tr><!-- End .summary-total -->
													
												</tbody>
	
											</table><!-- End .table table-summary -->
											{% if cart_items %}
	
											<div class="accordion-summary" id="accordion-payment">
																						
												<div class="card">
											
													<!-- <div class=" bg-light py-3 d-flex mb-1"   style="border-radius: 7px; border: 1px dashed #e4e4e4;">
														<input class="form-check-input col-3" type="radio" value="online" id="online" name="payment" checked>
														<label class="col-9  mx-auto mx-5" for="online">
															Pay with RazorPay
														</label>

													</div> -->
													
													
													<div class=" bg-light py-3 d-flex mb-1"   style="border-radius: 7px; border: 1px dashed #e4e4e4;">
														<input class="form-check-input col-3" type="radio" value="COD" id="cod" name="payment" required>
														<label class="col-9  mx-auto mx-5" for="cod">
															COD
														</label>
													</div>
											
    												{% if wallet.balance > total %}
													<div class=" bg-light py-3 d-flex mb-1"   style="border-radius: 7px; border: 1px dashed #e4e4e4;">
														<input class="form-check-input col-3" type="radio" value="WAL" id="wal" name="payment" required>
														<label class="col-9  mx-auto mx-5" for="wal">
															WALLET
														</label>
													</div>
												{% endif %}
												
													
												</div>																						
											</div><!-- End .accordion -->
										
										
											<button type="submit" class="btn btn-outline-primary-2 btn-order btn-block">
												<span class="btn-text">Place Order</span>
												<span class="btn-hover-text">Proceed to Checkout</span>
											</button>
											{% else %}<h4>Cart Is Empty</h4>
											<a href="{% url 'store:shop' %}" class="btn btn-outline-dark-2 btn-block mb-3"><span>CONTINUE SHOPPING</span><i class="icon-refresh"></i></a>

											{% endif %}
										</form>
										<!-- Address form (initially hidden) -->
										<!-- <button type=""  class="btn btn-primary payWithRazorpay w-100 mt-2">
											Pay with RazorPay
										</button> -->
										{% if cart_items %}
										<button type="submit" class="btn btn-outline-primary-2 btn-order btn-block payWithRazorpay"   id="place-order-Online-button"  data-name="{{ user_info.name }}" data-email="{{ user_info.email }}"  data-value="razorpay">
											<span class="btn-text">Place Order with Razorpay</span>
											<span class="btn-hover-text">Proceed to Checkout</span>
										</button>
										{% endif %}
									</div>
											</div><!-- End .summary -->
									</aside><!-- End .col-lg-3 -->
		                			
									<!-- Existing shipping addresses -->
									<div class="col-8" >
										
										<div class="custom-control">
											<!-- Add new address button -->
											<a href="{% url 'carts:add_address' %}" class="btn btn-outline-primary-2 btn-order">Add Address</a>
										</div>

										

				

							

								</div><!-- End .col-lg-9 -->
		                	</div><!-- End .row -->
            			
	                </div><!-- End .container -->
                </div><!-- End .checkout -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

        {% include 'user_authentication/inc/footer.html' %}
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Plugins JS File -->
    <script src="{% static 'user_auth/assets/js/jquery.min.js' %}"></script>
    <!-- <script src="{% static 'user_auth/assets/js/bootstrap.bundle.min.js' %}"></script> -->
    <script src="{% static 'user_auth/assets/js/jquery.hoverIntent.min.js' %}"></script>
    <script src="{% static 'user_auth/assets/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'user_auth/assets/js/superfish.min.js' %}"></script>
    <script src="{% static 'user_auth/assets/js/owl.carousel.min.js' %}"></script>
    <!-- Main JS File -->
    <script src="{% static 'user_auth/assets/js/main.js' %}"></script>

	<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<!-- <script src="{% static 'user_auth/assets/js/checkout.js' %}"></script> -->
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script>
		{% if messages %}
			{% for message in messages %}
				Swal.fire({
					icon: "{% if message.tags == 'success' %}success{% elif message.tags == 'error' %}error{% endif %}",
					title: "{% if message.tags == 'success' %}Success{% elif message.tags == 'error' %}Error{% endif %}",
					text: "{{ message }}",
				});
			{% endfor %}
		{% endif %}
	</script>

	<script>
		$(document).ready(function (){
    $('.payWithRazorpay').click(function (e){
        e.preventDefault();
        console.log("EXECUTED")

         // Fetch values from form elements using name attributes
        var selectedAddressId = $('input[name="shipping_address"]:checked').val();
        
		var token = $("[name='csrfmiddlewaretoken']").val();
        console.log(selectedAddressId)

        
        
        $.ajax({
            method: "GET",
            url: "/cart/proceed_to_pay/",
            success: function (response){
              console.log(response)


              var options = {
            "key": "rzp_test_jqDk0ijEJwoHUe", // Enter the Key ID generated from the Dashboard
            "amount": Number(response.total_price) * 100,  // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            "currency": "INR",
            "name": "SOLO SHOES", //your business name
            "description": "Thank you for buying from us...",
            "image": "https://example.com/your_logo",
       
            "handler": function (responseb){
                alert(responseb.razorpay_payment_id);

               data = {
                'selectedAddressId':selectedAddressId,
                'pay_mod':'RAZ',
                'transaction_id': responseb.razorpay_payment_id,
               
                csrfmiddlewaretoken:token,
               }
               $.ajax({
                    method : "POST",
                    url: "/cart/place_order_raz/",
                    data: data,
                    success: function(responsec) {
						console.log("EXECUTEDPLACE")
                        console.log("Response Object:", responsec);
                        Swal.fire("Congrats!!!", responsec.message, "success").then((value) => {
                            if (responsec.status === 'success') {
                    window.location.href = '/cart/order_placed/';
                }
                        });
                    }
               });
            },
            "prefill": { //We recommend using the prefill parameter to auto-fill customer's contact information, especially their phone number
                "full_name": name, //your customer's name
                // "phone": phone,  //Provide the customer's phone number for better conversion rates 
            },
            "theme": {
                "color": "#3399cc"
            }
        };
        var rzp1 = new Razorpay(options); 
		rzp1.willReadFrequently = true;
    
        rzp1.open();
            }
        })

        
    });
});



	</script>
	<script>
        const searchInput = document.getElementById('searchInput');
        const searchResults = document.getElementById('searchResults');
        const searchForm = document.getElementById('searchForm');
    
        searchInput.addEventListener('input', function() {
            const query = searchInput.value.trim();
    
            if (query.length === 0) {
                searchResults.innerHTML = '';
                return;
            }
    
            fetch(`/search/?q=${query}`)
                .then(response => response.json())
                .then(data => {
                    searchResults.innerHTML = '';
                    console.log(data)
    
                    if (data.length > 0) {
                        const resultList = document.createElement('ul');
    
                        data.forEach(result => {
                            const listItem = document.createElement('li');
                            const link = document.createElement('a');
    
                            link.textContent = result.product_name;
                            link.href = `/store/product/${result.productId}`; 
                            console.log('SEARCH SCRIPT WORKING');
    
                            listItem.appendChild(link);
                            resultList.appendChild(listItem);
                        });
                        searchResults.appendChild(resultList);
                    } else {
                        searchResults.innerHTML = 'No results found.';
                    }
                })
                .catch(error => console.error('Error fetching search results:', error));
        });
    
        // Optional: Close the suggestion dropdown when clicking outside
        document.addEventListener('click', function(event) {
            if (!event.target.closest('#searchResults')) {
                searchResults.innerHTML = '';
            }
        });
    </script> 

</body>
</html>