{% load static %}

<footer class="footer footer-dark">
    
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <div class="widget widget-about">
                        <img src="{% static 'user_auth/assets/images/demos/demo-10/solo.png' %}" class="footer-logo" alt="Footer Logo" width="105" height="25">
                        <p>Discover the latest trends in footwear at SOLO Shoes. From chic sneakers to sophisticated heels. Step into fashion-forward comfort with our exclusive online shoe shop. </p>

                        
                    </div><!-- End .widget about-widget -->
                </div><!-- End .col-sm-6 col-lg-3 -->

                <div class="col-sm-6 col-lg-3">
                    <div class="widget">
                        <h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->

                        <ul class="widget-list">
                            <li>About Solo</li>
                            <li>How to shop on Solo</li>
                            
                            <li>Contact us</li>
                            <li>{% if user.is_authenticated %}
                                <a href="{% url 'user_authentication:signout' %}" class="sf-with-ul">Logout</a>
                                {% else %}
                                <a href="{% url 'user_authentication:login' %}" class="sf-with-ul">Login | Register</a> 
                                {% endif %}                          
                            </li>
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-6 col-lg-3 -->

                <div class="col-sm-6 col-lg-3">
                    <div class="widget">
                        <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

                        <ul class="widget-list">
                            <li>Payment Methods</li>
                            <li>Money-back guarantee!</li>
                            <li>Returns</li>
                            <li>Shipping</li>
                            <li>Terms and conditions</li>
                            <li>Privacy Policy</li>
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-6 col-lg-3 -->

                <div class="col-sm-6 col-lg-3">
                    <div class="widget">

                        <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

                        <ul class="widget-list">
                            {% if user.is_authenticated %}
                            <li><a href="{% url 'carts:carts' %}">View Cart</a></li>                            
                            <a href="{% url 'store:wishlist' %}" class="sf-with-ul"><i class="icon-heart-o"></i>My Whishlist</a> 
                            <li><a href="{% url 'user_profile:myorder' %}">Track My Order</a></li>
                            {% endif %}
                            
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-6 col-lg-3 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .footer-middle -->
</footer>