
{% load static %}

        <!-- header -->
        {% include 'user_authentication/inc/navbar.html' %}
        <!-- end-header -->
        <main class="main">         
            <div class="page-content">
                <div class="container">
                    <div class="product-details-top mb-2">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="product-gallery product-gallery-vertical">
                                    <div class="row">
                                        <figure class="product-main-image">
                                            {% if product.offer %}
												<span class="product-label label-primary">Offer:{{ product.offer.offer_name }}</span>
                                        		<span class="product-label label-sale">{{ product.offer.discount_percentage|floatformat:.2 }}% off</span>
												{% endif %}
												{% if product.category.offer %}
												<span class="product-label label-primary">Offer:{{ product.category.offer.category_offer_name }}</span>
                                        		<span class="product-label label-sale">{{ product.category.offer.discount_percentage|floatformat:.2 }}% off</span>
												{% endif %}
                                            <img id="product-zoom" src="{{ product.productimage_set.first.image.url }}" data-zoom-image="{{ product.productimage_set.first.image.url }}" alt="product image">


                                            <a href="#" id="btn-product-gallery" class="btn-product-gallery">
                                                <i class="icon-arrows"></i>
                                            </a>
                                        </figure><!-- End .product-main-image -->



                                        <div id="product-zoom-gallery" class="product-image-gallery">
                                            {% for product_image in product.productimage_set.all %}
                                                <a class="product-gallery-item{% if forloop.first %} active{% endif %}" href="#" data-image="{{ product_image.image.url }}" data-zoom-image="{{ product_image.image.url }}">
                                                    <img src="{{ product_image.image.url }}" alt="product {% if forloop.first %}side{% elif forloop.last %}with model{% else %}cross{% endif %}">
                                                </a>
                                            {% endfor %}
                                        </div><!-- End .product-image-gallery -->



                                        
                                    </div><!-- End .row -->
                                </div><!-- End .product-gallery -->
                            </div><!-- End .col-md-6 -->

                            <div class="col-md-6">
                                <div class="product-details product-details-centered">
                                    <h1 class="product-title">{{ product.product_name }}</h1><!-- End .product-title -->

                                   
                                    <!-- <div class="product-price">
                                        {{ '₹ ' }}{{ product.price }}
                                    </div>End .product-price -->
                                    {% if product.discounted_price is not None %}
												<div class="product-price">													
													<span class="new-price">Now {{ '₹ ' }}{{ product.discounted_price|floatformat:2 }}</span>
													<span class="old-price">{{ '₹ ' }}{{ product.price}}</span>												
												</div><!-- End .product-price -->
												{% else %}
												<div class="product-price">													
													<span class="new-price">{{ '₹ ' }}{{ product.price}}</span>												
												</div><!-- End .product-price -->
												{% endif %}

                                    <div class="product-content">
                                        <p>{{ product.description }}</p>
                                    </div><!-- End .product-content -->

                                    <div class="product-details-action">
                                        <div class="details-action-col">
                                            
                                            
                                                {% if user.is_authenticated %}
                                                {% if product.stock > 0 %}
                                                <a href="{% url 'carts:add_cart' product_id=product.id %}" class="btn-product btn-cart"><span>add to cart</span></a>
                                                {% else %} <h4>Out of stock</h4>
                                                {% endif %}
                                                {% else %}
                                                <a href="{% url 'user_authentication:register' %}" class="btn-product btn-cart"><span>add to cart</span></a>
                                                {% endif %}
                                            
                                        </div><!-- End .details-action-col -->

                                        <div class="details-action-wrapper">
                                            <a href="#" class="btn-product btn-wishlist" data-product-id="{{product.id}}" title="Wishlist"><span>Add to Wishlist</span></a>
                                        </div><!-- End .details-action-wrapper -->
                                    </div><!-- End .product-details-action -->

                                    <div class="product-details-footer">
                                        <div class="product-cat">
                                            <span>Category:</span>
                                            <a href="#">{{ product.category }}</a>,
                                            
                                        </div><!-- End .product-cat -->
                                    </div><!-- End .product-details-footer -->
                                </div><!-- End .product-details -->
                            </div><!-- End .col-md-6 -->
                           
                        </div><!-- End .row -->
                    </div><!-- End .product-details-top -->

                    <div class="product-details-tab">
                        <ul class="nav nav-pills justify-content-center" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="product-desc-link" data-toggle="tab" href="#product-desc-tab" role="tab" aria-controls="product-desc-tab" aria-selected="true">Description</a>
                            </li>
                           
                            
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="product-desc-tab" role="tabpanel" aria-labelledby="product-desc-link">
                                <div class="product-desc-content">
                                    <h3>Product Information</h3>
                                    <p>Step into comfort with our Classic Comfort Shoes. These stylish shoes blend timeless design with a plush, cushioned insole for all-day coziness.  </p>
                                    <ul>
                                        <li>Stay ahead in the fashion game with a shoe that combines contemporary style with timeless comfort. </li>
                                        <li> Every pair undergoes rigorous quality control to meet the highest standards.</li>
                                        <li>Perfect for casual outings or a quick jog, these sneakers effortlessly combine fashion and comfort. Treat your feet to a classic favorite.</li>
                                    </ul>

                                    
                                </div><!-- End .product-desc-content -->
                            </div><!-- .End .tab-pane -->
                           
                           
                            
                        </div><!-- End .tab-content -->
                    </div><!-- End .product-details-tab -->

                    <h2 class="title text-center mb-4">You May Also Like</h2><!-- End .title text-center -->
                    
                        <div class="product product-7 text-center">
                            <div class="row">
                                {% for related_product in related_products %}
                            <div class="col-md-3">
                            
                            <figure class="product-media">
                                {% if related_product.offer %}
											<span class="product-label label-primary">Offer:{{ related_product.offer.offer_name }}</span>
                                        	<span class="product-label label-sale">{{ related_product.offer.discount_percentage|floatformat:.2 }}% off</span>
									{% endif %}
									{% if related_product.category.offer %}
											<span class="product-label label-primary">Offer:{{ related_product.category.offer.category_offer_name }}</span>
                                        	<span class="product-label label-sale">{{ related_product.category.offer.discount_percentage|floatformat:.2 }}% off</span>
								{% endif %}
                                <!-- <span class="product-label label-new">New</span> -->
                                <a href="{% url 'store:product' related_product.id %}">
                                    <img src="{{ related_product.productimage_set.first.image.url }}" alt="Product image" class="product-image" style="height:300px;">                                </a>

                                <div class="product-action-vertical">
                                    {% if user.is_authenticated %}
                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable" data-product-id="{{related_product.id}}"><span>{{related_product.id}}add to wishlist</span></a>
                                    {% else %}
                                    <a href="{% url 'user_authentication:register' %}" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                    {% endif %}
                                   

                                <div class="product-action">
                                    {% if user.is_authenticated %}
                                        {% if product.stock > 0 %}
                                            <!-- If user is authenticated and product is in stock, redirect to the 'carts:add_cart' URL -->
                                            <a href="{% url 'carts:add_cart' product_id=product.id %}" class="btn-product btn-cart">
                                                <span>add to cart</span>
                                            </a>  
                                        {% else %} <h4>Out Of Stock</h4>                                     
                                        {% endif %}

                                    {% else %}
                                        <!-- If user is not authenticated, redirect to the 'user_authentication:register' URL -->
                                        <a href="{% url 'user_authentication:register' %}" class="btn-product btn-cart">
                                            <span>add to cart</span>
                                        </a>
                                    {% endif %}
                                </div><!-- End .product-action -->
                                
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="#">{{ related_product.category }}</a>
                                </div>
                                <h3 class="product-title">{{ related_product.product_name }}</h3><!-- End .product-title -->
                                <!-- <div class="product-price">
                                    {{ '₹ ' }}{{ related_product.price}}
                                </div> -->
                                {% if related_product.discounted_price is not None %}
												<div class="product-price">													
													<span class="new-price">Now {{ '₹ ' }}{{ related_product.discounted_price|floatformat:2 }}</span>
													<span class="old-price">{{ '₹ ' }}{{ related_product.price}}</span>												
												</div><!-- End .product-price -->
												{% else %}
												<div class="product-price">													
													<span class="new-price">{{ '₹ ' }}{{ related_product.price}}</span>												
												</div><!-- End .product-price -->
												{% endif %}
                                                              
                            </div><!-- End .product-body -->
                        </div>
                            {% endfor %}
                        </div>
                        </div><!-- End .product -->

                        
                        
                        
                        </div><!-- End .owl-carousel -->
                </div><!-- End .container -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

        <!--footer -->
 {% include 'user_authentication/inc/footer.html' %}
 <!-- End .footer -->
 
    </div><!-- End .page-wrapper -->
   

   

          
    

    <!-- Plugins JS File -->
    <script src="{% static 'user_auth/assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'user_auth/assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'user_auth/assets/js/jquery.hoverIntent.min.js' %}"></script>
    <script src="{% static 'user_auth/assets/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'user_auth/assets/js/superfish.min.js' %}"></script>
    <script src="{% static 'user_auth/assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'user_auth/assets/js/bootstrap-input-spinner.js' %}"></script>
    <script src="{% static 'user_auth/assets/js/jquery.elevateZoom.min.js' %}"></script>

    <script src="{% static 'user_auth/assets/js/bootstrap-input-spinner.js' %}"></script>
    <script src="{% static 'user_auth/assets/js/jquery.magnific-popup.min.js' %}"></script>
    <!-- Main JS File -->
    <script src="{% static 'user_auth/assets/js/main.js' %}"></script>
<script>

$(document).ready(function() {
    $('.btn-wishlist').on('click', function(e) {
        e.preventDefault();
        console.log('Script loaded successfully');


        var productId = $(this).data('product-id');
        console.log(productId);

        $.ajax({
            type: 'GET',
            url: '/store/add_to_wishlist/' + productId + '/',
            success: function(response) {
                console.log('Product added to wishlist successfully');
                  // Display the success message in the modal
            $('#customModal .modal-body').text(response.message);
            $('#customModal').modal('show');
            },
            error: function(xhr, status, error) {
                console.error('Error adding product to wishlist:', error);

                // Log more details about the error
                console.log('XHR:', xhr);
                console.log('Status:', status);
            }
        });
    });
});
</script>

</body>

</html>