{% load static %}

        {% include 'user_authentication/inc/navbar.html' %}

        <main class="main">
        	<div class="page-header text-center" style="background-image: url('user_auth/assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title"><span>SHOP{% if category %} - {{ category|title }}{% endif %}</span></h1>

					
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            
            <div class="page-content">
                <div class="container">
                	<div class="row">
                		<div class="col-lg-9">
                		    <div class="products mb-3">
								
                                <div class="row justify-content-center">
                                    {% for product in products %}
                                    <div class="col-6 col-md-4 col-lg-4">
                                        <div class="product product-7 text-center">
                                            <figure class="product-media">
												{% if product.offer %}
												<span class="product-label label-primary">{{ product.offer.offer_name }}</span>
                                        		<span class="product-label label-sale">{{ product.offer.discount_percentage|floatformat:.2 }}% off</span>
												{% endif %}
												{% if product.category.offer %}
												<span class="product-label label-primary">{{ product.category.offer.category_offer_name }}</span>
                                        		<span class="product-label label-sale">{{ product.category.offer.discount_percentage|floatformat:.2 }}% off</span>
												{% endif %}
                                                <!-- <span class="product-label label-new">New</span> -->
                                                <a href="{% url 'store:product' product.id %}">
                                                    <img src="{{ product.productimage_set.first.image.url }}" alt="Product image" class="product-image" style="width: 300px; height:250px;">
                                                </a>

                                                <div class="product-action-vertical">
                                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable" data-product-id="{{product.id}}"><span>add to wishlist</span></a>
                                                </div><!-- End .product-action-vertical -->
												<!-- <div class="product-action-vertical"> -->
                                                    {% if product.stock <= 0 %}
                                            		 <span>Out Of Stock</span>
											 		{% endif %}
                                                <!-- </div>End .product-action-vertical -->

                                                <div class="product-action">
													{% if user.is_authenticated %}
														{% if product.stock > 0 %}
															<!-- If user is authenticated and product is in stock, redirect to the 'carts:add_cart' URL -->
															<a href="{% url 'carts:add_cart' product_id=product.id %}" class="btn-product btn-cart">
																<span>add to cart</span>
															</a>
														{% endif %}
													{% else %}
														<!-- If user is not authenticated, redirect to the 'user_authentication:register' URL -->
														<a href="{% url 'user_authentication:register' %}" class="btn-product btn-cart">
															<span>add to cart</span>
														</a>
													{% endif %}
												</div><!-- End .product-action -->
												
                                            </figure><!-- End .product-media -->

                                            <div class="product-body">
                                                <div class="product-cat">
                                                    <a href="#">{{ product.category }}</a>
                                                </div><!-- End .product-cat -->
												<h3 class="product-title"><a href="product.html">{{ product.product_name }}</a></h3><!-- End .product-title -->
                                                
												{% if product.discounted_price is not None %}
												<div class="product-price">													
													<span class="new-price">Now {{ '₹ ' }}{{ product.discounted_price|floatformat:2 }}</span>
													<span class="old-price">{{ '₹ ' }}{{ product.price}}</span>												
												</div><!-- End .product-price -->
												{% else %}
												<div class="product-price">													
													<span class="new-price">{{ '₹ ' }}{{ product.price}}</span>												
												</div><!-- End .product-price -->
												{% endif %}
												
																							
											                                          
                                            </div><!-- End .product-body -->
                                        </div><!-- End .product -->
                                    </div><!-- End .col-sm-6 col-lg-4 -->   
                                    {% endfor %}                                                          
                                </div><!-- End .row -->
                            </div><!-- End .products -->

                			<nav aria-label="Page navigation">
								{% if products.has_other_pages %}
							    <ul class="pagination justify-content-center">
									{% if products.has_previous %}
							        <li class="page-item">
							            <a class="page-link page-link-prev" href="?page={{prodcuts.previous_page_number}}">
							                <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>Prev
							            </a>
							        </li>
									{% else %}
									<li class="page-item disabled">
							            <a class="page-link page-link-prev" href="#" >
							                <span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>Prev
							            </a>
							        </li>
									{% endif %}
									{% for i in products.paginator.page_range %}
									{% if products.number == i %}
							        <li class="page-item active" aria-current="page"><a class="page-link" href="#">{{i}}</a></li>
							        {% else %}
									<li class="page-item" aria-current="page"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
									{% endif %}
									{% endfor %}
									{% if products.has_next %}
							        <li class="page-item">
							            <a class="page-link page-link-next" href="?page={{prodcuts.next_page_number}}">
							                Next <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>
							            </a>
							        </li>
									{% else %}
									<li class="page-item disabled">
							            <a class="page-link page-link-next" href="#">
							                Next <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>
							            </a>
							        </li>
									{% endif %}
							    </ul>
								{% endif %}
							</nav>
                		</div><!-- End .col-lg-9 -->
                		<aside class="col-lg-3 order-lg-first">
                			<div class="sidebar sidebar-shop">
                				<div class="widget widget-collapsible">
    								<h3 class="widget-title">
									    <a data-toggle="collapse" href="#widget-1" role="button" aria-expanded="true" aria-controls="widget-1">
									        Category
									    </a>
									</h3><!-- End .widget-title -->

									<div class="col-md-6">
										<ul>
											<li><a href="{% url 'store:shop_category' category='men' %}">For MEN</a></li>
											<li><a href="{% url 'store:shop_category' category='women' %}">For WOMEN</a></li>
										</ul>   
									</div>

        						

        						

        							<div class="widget widget-collapsible">
										<h3 class="widget-title">
											<a data-toggle="collapse" href="#widget-5" role="button" aria-expanded="true" aria-controls="widget-5">
												Price
											</a>
										</h3><!-- End .widget-title -->
	
										<div class="collapse show" id="widget-5">
											<div class="widget-body">
												<div class="filter-price">
													<div class="filter-price-text">
														Price Range:
														<span id="filter-price-range"></span>
													</div><!-- End .filter-price-text -->
	
													<div id="price-slider"></div><!-- End #price-slider -->
												</div><!-- End .filter-price -->
											</div><!-- End .widget-body -->
										</div><!-- End .collapse -->
									</div><!-- End .widget -->

        					
                			</div><!-- End .sidebar sidebar-shop -->
                		</aside><!-- End .col-lg-3 -->
                	</div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

 <!--footer -->
 {% include 'user_authentication/inc/footer.html' %}
 <!-- End .footer -->
       
    </div><!-- End .page-wrapper -->

    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

   
    

    <!-- Plugins JS File -->
    <script src="{% static 'user_auth/assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'user_auth/assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'user_auth/assets/js/jquery.hoverIntent.min.js' %}"></script>
    <script src="{% static 'user_auth/assets/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'user_auth/assets/js/superfish.min.js' %}"></script>
    <script src="{% static 'user_auth/assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'user_auth/assets/js/wNumb.js' %}"></script>
    <script src="{% static 'user_auth/assets/js/bootstrap-input-spinner.js' %}"></script>
    <script src="{% static 'user_auth/assets/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'user_auth/assets/js/nouislider.min.js' %}"></script>
    <!-- Main JS File -->
    <script src="{% static 'user_auth/assets/js/main.js' %}"></script>

	<script>  

		$(document).ready(function() {
			$('.btn-wishlist').on('click', function(e) {
				e.preventDefault();
				console.log('Script loaded successfully');
		
		
				var productId = $(this).data('product-id');
				console.log(productId);
		
				$.ajax({
					type: 'GET',
					url: '/store/add_to_wishlist/' + productId + '/',
					success: function(response) {
						console.log('Product added to wishlist successfully');
						  // Display the success message in the modal
					$('#customModal .modal-body').text(response.message);
					$('#customModal').modal('show');
					},
					error: function(xhr, status, error) {
						console.error('Error adding product to wishlist:', error);
		
						// Log more details about the error
						console.log('XHR:', xhr);
						console.log('Status:', status);
					}
				});
			});
		});
	</script>

</body>

</html>