
{% load static %}

        <!-- header -->
        {% include 'user_authentication/inc/navbar.html' %}
        


<div class="container">
    <div class="page-header text-center" style="background-image: url('user_auth/assets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">My Orders<span>{{request.user.username}}</span></h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'user_authentication:home' %}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'user_profile:profile' %}">My Profile</a></li>
                <li class="breadcrumb-item active" aria-current="page">Orders</li>

            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->
    {% if order %}
    {% for order in order %}
    <div class="card mb-3 p-5 " style="border-radius: 7px; background:#f3f3f9;">
        
        <div class="card-header">
            <div class="d-flex justify-content-between mb-2">
                <div>
                    <p style="font-size: 16px;">Order Date:</p>
                    <p style="font-size: 18px;"><b>{{ order.date_added }}</b></p>
                </div>
                <div>
                    <a href="{% url 'user_profile:view_order' order.id %}" >View order</a>

                </div>
            </div>
        </div>
        <hr class="m-0 mb-1">
        <div class="row col-12 d-flex flex-wrap">
            {% for order_item in order.cartitem_set.all %}
              <div class="mb-5 col-12 px-0">
                <div class="d-flex flex-row align-items-center"> 
                  <div class="col-2 px-0">
                    <img class="" src="{{ order_item.product.productimage_set.first.image.url }}"
                         alt="{{ order_item.product.name }}">
                    <div class="mt-2">{% if order_item.delivery_status == 'CN' %}
                        <span class="label label-danger" style="color: brown;"><strong>Order Cancelled</strong></span>
                      {% elif order_item.delivery_status == 'D' %}
                        <span class="label label-success" style="color: rgb(42, 165, 79);"><strong>Order Delivered</strong></span>
                      {% elif order_item.delivery_status == 'SH' %}
                        <span class="label label-success" style="color: rgb(42, 165, 79);"><strong>Order Shipped</strong></span>
                      {% else %}
                        <span class="label label-success" style="color: rgb(42, 165, 79);"><strong>Order Placed</strong></span>
                      {% endif %}
                    </div>
                  </div>
                  <div class="col-8 pl-4">
                    <h5 class="card-title">{{ order_item.product_name_at_order }}</h5> 
                  </div>
                </div>
                <div class="card-footer row"
                     style="background: #F3F3F9; display: flex; justify-content: space-between; align-items: center; width: 100%;">
                </div>
              </div>
            {% endfor %}
          </div>
          
        <div class="col-12 row d-flex justify-content-between ">
            <h5 class="mx-5">Total : <b>₹{{ order.cart_total_at_order }}</b></h5>
        </div>
        
    </div>
    {% endfor %}
    <br>
    {% else %}
    <h1>No orders found.</h1>
    {% endif %}
</div>







{% include 'user_authentication/inc/footer.html' %}
<!-- End .footer -->

</div>
<!-- End .page-wrapper -->
<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

<!-- Plugins JS File -->
<script src="{% static 'user_auth/assets/js/jquery.min.js' %}"></script>
<script src="{% static 'user_auth/assets/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'user_auth/assets/js/jquery.hoverIntent.min.js' %}"></script>
<script src="{% static 'user_auth/assets/js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'user_auth/assets/js/superfish.min.js' %}"></script>
<script src="{% static 'user_auth/assets/js/owl.carousel.min.js' %}"></script>
<!-- Main JS File -->
<script src="{% static 'user_auth/assets/js/main.js' %}"></script>
<script>
  const searchInput = document.getElementById('searchInput');
  const searchResults = document.getElementById('searchResults');
  const searchForm = document.getElementById('searchForm');

  searchInput.addEventListener('input', function() {
      const query = searchInput.value.trim();

      if (query.length === 0) {
          searchResults.innerHTML = '';
          return;
      }

      fetch(`/search/?q=${query}`)
          .then(response => response.json())
          .then(data => {
              searchResults.innerHTML = '';
              console.log(data)

              if (data.length > 0) {
                  const resultList = document.createElement('ul');

                  data.forEach(result => {
                      const listItem = document.createElement('li');
                      const link = document.createElement('a');

                      link.textContent = result.product_name;
                      link.href = `/store/product/${result.productId}`; 
                      console.log('SEARCH SCRIPT WORKING');

                      listItem.appendChild(link);
                      resultList.appendChild(listItem);
                  });
                  searchResults.appendChild(resultList);
              } else {
                  searchResults.innerHTML = 'No results found.';
              }
          })
          .catch(error => console.error('Error fetching search results:', error));
  });

  // Optional: Close the suggestion dropdown when clicking outside
  document.addEventListener('click', function(event) {
      if (!event.target.closest('#searchResults')) {
          searchResults.innerHTML = '';
      }
  });
</script> 
</body>

<!-- molla/dashboard.html  22 Nov 2019 10:03:13 GMT -->
</html>