
{% load static %}

        <!-- header -->
        {% include 'user_authentication/inc/navbar.html' %}
        <!-- end-header -->

{% block content %}
    <div class="container">
        <div class="page-header text-center">
            <h1 class="page-title">My Orders</h1>
        </div>
        {% if orders %}
            <ul>
                {% for order in orders %}
                    <li>
                    
                        <br><strong>Order Date:</strong> {{ order.date_added }}<br>
                        <strong>Item</strong> {{ order.product.product_name }}<br>
                        <strong>Order Status</strong> {{ order.delivery_status }}
                        <img src="{{ order.product.productimage_set.first.image.url }}" alt="product image" style="width: 150px;">

                        <!-- <a href="{% url 'user_profile:cancel_order' order.id %}"  class="mt-1  btn btn-outline-danger delete-address-btn">
                            <span>Cancel order</span>
                            <i class="icon-trash"></i>
                        </a> -->
                        {% if order.delivery_status != 'CN' %}
                        <a href="{% url 'user_profile:cancel_order' order.id %}" class="mt-1  btn btn-outline-danger delete-address-btn">
                             <span>Cancel order</span>
                             <i class="icon-trash"></i>
                        </a>
                        {% else %}
                             <span class="mt-1 label label-danger" style="color: brown;"><strong>Order Cancelled</strong></span>
                        {% endif %}
                        
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No orders found.</p>
        {% endif %}
    </div>
{% endblock %}

{% include 'user_authentication/inc/footer.html' %}
<!-- End .footer -->

</div>
<!-- End .page-wrapper -->
<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

<!-- Plugins JS File -->
<script src="{% static 'user_auth/assets/js/jquery.min.js' %}"></script>
<script src="{% static 'user_auth/assets/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'user_auth/assets/js/jquery.hoverIntent.min.js' %}"></script>
<script src="{% static 'user_auth/assets/js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'user_auth/assets/js/superfish.min.js' %}"></script>
<script src="{% static 'user_auth/assets/js/owl.carousel.min.js' %}"></script>
<!-- Main JS File -->
<script src="{% static 'user_auth/assets/js/main.js' %}"></script>
</body>

<!-- molla/dashboard.html  22 Nov 2019 10:03:13 GMT -->
</html>
