
{% load static %}

        <!-- header -->
        {% include 'user_authentication/inc/navbar.html' %}
        <!-- end-header -->

{% block content %}
    <div class="container">
        <div class="page-header text-center">
            <h1 class="page-title">My Orders</h1>
        </div>
        
        {% if order %}
        <div style="border:1px solid black">
            <ul>
                {% for order in order %}
                    <li>
                    
                        <br><strong>Order Date:</strong> {{ order.date_added }}<br>
                        <strong>Address</strong> {{ order.shipping_address.full_name }}<br>
                        <strong>Payment method</strong> {{ order.payment_method }}
                        
                        <div>
                            {% for cart_item in order.cartitem_set.all %}
                        <strong>Order item and quantity:</strong> {{ cart_item.product.product_name }}- {{ cart_item.quantity }}
                        <img src="{{ cart_item.product.productimage_set.first.image.url }}" alt="product image" style="width: 150px;">
                        <strong>Price</strong> {{ cart_item.product.price }}<br>
                        

                        
                    </div>

                        {% if cart_item.delivery_status == 'CN' %}
                        <span class="mt-1 label label-danger" style="color: brown;"><strong>Order Cancelled</strong></span>

                        {% elif cart_item.delivery_status == 'D' %}
                        <span class="mt-1 label label-danger" style="color: brown;"><strong>Order Delivered</strong></span>

                        {% else %}
                             <a href="{% url 'user_profile:cancel_order' cart_id=cart_item.id %}" class="mt-1  btn btn-outline-danger delete-address-btn">
                                <span>Cancel order</span>
                                <i class="icon-trash"></i>
                           </a>
                             {% endif %}
                        <a href="{% url 'user_profile:generate_invoice' order.id %}" target="_blank" download>Download Invoice</a>

                    </li>{% endfor %}

                {% endfor %}
            </ul>
        {% else %}
            <p>No orders found.</p>
        </div>
        {% endif %}

    </div>
{% endblock %}

{% include 'user_authentication/inc/footer.html' %}
<!-- End .footer -->

</div>
<!-- End .page-wrapper -->
<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

<!-- Plugins JS File -->
<script src="{% static 'user_auth/assets/js/jquery.min.js' %}"></script>
<script src="{% static 'user_auth/assets/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'user_auth/assets/js/jquery.hoverIntent.min.js' %}"></script>
<script src="{% static 'user_auth/assets/js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'user_auth/assets/js/superfish.min.js' %}"></script>
<script src="{% static 'user_auth/assets/js/owl.carousel.min.js' %}"></script>
<!-- Main JS File -->
<script src="{% static 'user_auth/assets/js/main.js' %}"></script>
</body>

<!-- molla/dashboard.html  22 Nov 2019 10:03:13 GMT -->
</html>

{% extends 'partials/base2.html' %}
{% block content %}


<div class="container">
    <h2>My Orders</h2>
    {% if orders %}
    {% for order in orders %}
    <div class="card mb-3 p-5 " style="border-radius: 7px; background:#f3f3f9;">
        <div class="card-header">
            <div class="d-flex justify-content-between mb-2">
                <div>
                    <p style="font-size: 16px;">Ordered on</p>
                    <p style="font-size: 18px;"><b>{{ order.date_ordered }}</b></p>
                </div>
                <div>
                                           <a href="{% url 'user_profile:generate_invoice' order.id %}" target="_blank" download>Download Invoice</a>

                        </div> 
                <!-- <div>
                            <p style="font-size: 16px;">Delivery to</p>
                            <p style="font-size: 18px;"><b>{{ order.shipping_address }}</b></p>
                        </div> -->
            </div>
        </div>
        <hr class="m-0 mb-1">
        <div class="row col-12 d-flex mb-0 p-5 ">
            {% for order_item in order.orderitem_set.all %}
            <div class="col-md-3 col-12 bg-white d-flex align-items-center" style="border-radius: 6px;">
                <img class="" src="{{ order_item.product.productimage_set.first.image.url }}"
                    alt="{{ order_item.product.name }}">
            </div>
            <div class="col-9 pl-5 mt-2">
                <h5 class="card-title">{{ order_item.product.name }}</h5>
                <p>{{ order_item.variation.language.name }}</p>
                <p><b>{{ order_item.product.author }}</b></p>
                <p class="card-text">
                    Quantity: <b>{{ order_item.quantity }}</b><br>
                    <i class="fa-solid fa-file-invoice-dollar"></i> {{ order.payment_method }}
                </p>

                <h5 class="card-title mb-2">₹ {{ order_item.get_total }} </h5>
                <div class="card-footer row "
                    style="background: #F3F3F9; display: flex; justify-content: space-between; align-items: center; width: 100%;">
                    <div class="col-md-8 col-12 mx-auto" style="flex-grow: 1;">
                        <p class="" style="font-size: 18px; font-weight: bold;">Arriving on: <br>
                            {{order.expected_delivery_date|date:"D, d F" }}</p>
                    </div>
                    <div class="col-md-4 col-12" style="flex-grow: 1; text-align: right;">
                        {% if order_item.delivery_status == 'CN' %}
                            <button type="button" class="btn btn-danger mx-auto">
                                Order Cancelled
                            </button>
                            {% elif order_item.delivery_status == 'RT' %}
                            <button type="button" class="btn btn-dark mx-auto">
                                Item Returned
                            </button>
                            {% elif order_item.delivery_status == 'D' %}
                            <button type="button" class="btn btn-warning mx-auto" data-toggle="modal" data-target="#returnOrderModal{{ order_item.id }}">
                                Return Item
                            </button>

                          <!-- Modal for Return -->
<div class="modal fade" id="returnOrderModal{{ order_item.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form id="returnForm" method="post" action="{% url 'user_profile:return_order' order_item_id=order_item.id %}">
                {% csrf_token %}
                <div class="modal-header py-4">
                    <p class="modal-title text-danger mx-auto">
                        <b class="mdi mdi-comment-alert text-warning"></b>
                        <b>Are you sure to Return this order</b>
                        <i class="fa-sharp fa-light fa-truck-fast fa-bounce"></i>
                    </p>
                </div>
                <div class="" style="border: 1px solid #e2e2e2; border-radius: 0px; background: #F3F3F9;">
                    <div class="mx-auto mb-3 py-5" style="max-width: 540px; border: 1px solid #e2e2e2; border-radius: 0px; background: #F3F3F9;">
                        <div class="row g-0 " style="border: none;">
                            <div class="col-md-5  d-flex align-items-center">
                                <img style="width: 170px; height: 170px; border-radius: 7px;" src="{{ order_item.product.productimage_set.first.image.url }}" class="card-img-start mx-2" alt="...">
                            </div>
                            <div class="col-md-7">
                                <div class="card-body  my-auto">
                                    <h5 class="card-title">
                                        {{ order_item.product.name }}
                                    </h5>
                                    <p class="card-text"><small class="text-body-secondary">
                                        Quantity :
                                        <b>
                                            {{ order_item.quantity }}
                                        </b>
                                    </small></p>
                                    <h6 class="mb-2">Delivery Completed on : <br> <b>
                                        {{order.expected_delivery_date|date:"D, d F" }}                                </b></h6>
                                    <h5 class="card-title mb-2">₹ {{ order_item.get_total }}</h5>
                                </div>
                            </div>
                        </div>
                        <hr class="m-1">
                     
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Not Now</button>
                        <button class="btn btn-dark" type="submit" id="returnBtn{{ order_item.id }}">
                            Return Now{{ order_item.id }}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

                        {% else %}
                            <button type="button" class="btn btn-danger mx-auto" data-toggle="modal" data-target="#cancelOrderModal{{ order_item.id }}">
                                Cancel Order
                            </button>
                        {% endif %}
                    </div>
                    
                 

                    <!-- Modal -->
                    <div class="modal" id="cancelOrderModal{{ order_item.id }}" tabindex="-1" role="dialog" aria-labelledby="cancelOrderModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Cancel Order Confirmation</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal Body -->
<div class="container mx-5 modal-body">
    <p style="font-size: 18px; font-weight: bold;">Are you sure you want to cancel this order?</p>
</div>


           <!-- Modal Footer -->
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <form method="post" action="{% url 'user_profile:cancel_order' order_item_id=order_item.id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Cancel Order</button>
    </form>
</div>


        </div>
    </div>
</div>
                <!-- modal ends -->
                    
                </div>
                <br>
                <br>
                <br>
            </div>
            <div class="progress-track col-12">
                {% if order_item.delivery_status != 'CN' %}
                <ul id="progressbar">
                    <li style="font-size: 16px;" class="step0 {% if order_item.delivery_status == 'PL' or order_item.delivery_status == 'DS' or order_item.delivery_status == 'SH' or order_item.delivery_status == 'OFD' or order_item.delivery_status == 'D' %}active{% endif %}" id="step1">Order placed</li>
                    <li style="font-size: 16px;" class="step0 text-center {% if order_item.delivery_status == 'DS' or order_item.delivery_status == 'SH' or order_item.delivery_status == 'OFD' or order_item.delivery_status == 'D' %}active{% endif %}" id="step3">Dispatched</li>
                    <li style="font-size: 16px;" class="step0 text-center {% if order_item.delivery_status == 'SH' or order_item.delivery_status == 'OFD' or order_item.delivery_status == 'D'  %}active{% endif %}" id="step2">Shipped</li>
                    <li style="font-size: 16px;" class="step0 text-right {% if order_item.delivery_status == 'OFD' or order_item.delivery_status == 'D' %}active{% endif %}" id="step4">Out for Delivery</li>
                    <li style="font-size: 16px;" class="step0 text-right {% if order_item.delivery_status == 'D' %}active{% endif %}" id="step5">Delivered</li>
                </ul>
                {% endif %}
                <hr>
            </div>

            {% endfor %}

        </div>
        <div class="col-12 row d-flex justify-content-between ">
            <h6 class="mx-5">Delivery to : <b>{{ order.shipping_address }}</b></h6>
            <h5 class="mx-5">Total : <b>${{ order.get_cart_total }}</b></h5>
        </div>
    </div>
    {% endfor %}

</div>
<br>
{% else %}
<h1>No orders found.</h1>
{% endif %}
</div>



{% else %}
            <a href="{% url 'user_profile:cancel_order' cart_id=order_item.id %}" target="_blank" download>Cancel Order</a>