
{% load static %}

        <!-- header -->
        {% include 'user_authentication/inc/navbar.html' %}
        <!-- end-header -->

        <main class="main">
        	<div class="page-header text-center" style="background-image: url('user_auth/assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">My Account<span>{{request.user.username}}</span><span>Change Password</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'user_authentication:home' %}">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'user_profile:profile' %}">My Profile</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Change Password </li>
        
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <form method="post" action="{% url 'user_profile:editpassword' %}">
                            {% csrf_token %}
                            <input type="hidden" name="form_type" value="password_change">
                            {% if password_change_form.errors %}
                              <div class="alert alert-danger">
                                <strong>Error:</strong> Please correct the following issues.
                               <ul>
                                {% for error in password_change_form.errors %}
                                   <li>{{ error }}</li>
                                {% endfor %}
                               </ul>
                              </div>
                            {% endif %}                                   
                             
            
                            <div style="margin: 0 auto; max-width: 80%;" >
                                <table class="table">
                                    <tbody>
                                        {% for field in password_change_form %}
                                            <tr>
                                                <td>{{ field.label_tag }}</td>
                                                <td>{{ field }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
            
                            <button type="submit" class="btn btn-outline-primary-2">
                                <span>CHANGE PASSWORD</span>
                                <i class="icon-long-arrow-right"></i>
                            </button>
                       </form>
                       {% if success_messages %}
											<div class="alert alert-success" style="background-color: rgb(163, 157, 157);">
												{% for message in success_messages %}
													{{ message }}
												{% endfor %}
											</div>
										{% endif %}
                    </div><!-- End .card-body -->
                </div><!-- End .card -->
            </div><!-- End .col-sm-6 -->
            
            
            
            
        </main><!-- End .main -->

        {% include 'user_authentication/inc/footer.html' %}
        <!-- End .footer -->
        
           </div><!-- End .page-wrapper -->
           <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Plugins JS File -->
    <script src="{% static 'user_auth/assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'user_auth/assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'user_auth/assets/js/jquery.hoverIntent.min.js' %}"></script>
    <script src="{% static 'user_auth/assets/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'user_auth/assets/js/superfish.min.js' %}"></script>
    <script src="{% static 'user_auth/assets/js/owl.carousel.min.js' %}"></script>
    <!-- Main JS File -->
    <script src="{% static 'user_auth/assets/js/main.js' %}"></script>
</body>


<!-- molla/dashboard.html  22 Nov 2019 10:03:13 GMT -->
</html>